<h1>Github issues</h1>
<div class="my-5 border-b-2 border-blue-600"></div>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">

  <!-- PARA CONTROLAR EL ESTADO -->
  <div class="flex flex-col col-span-3">
    <div class="flex gap-2">
      <button class="btn">All</button>
      <button class="btn">Open</button>
      <button class="btn">Close</button>
    </div>
  </div>

  <!-- LISTADO -->
  <div class="mt-4 flex flex-col col-span-2">
    <h3>Issues: </h3>
    <a routerlink="/issue/123">Ir a issue 123</a>
    <!-- Todo: LISTADO de issues -->

    <!-- Todo: Spinner -->

    <!-- Todo: Si no hay issues por el filtro -->
  </div>

  <!-- LABELS -->
   <div>
    <h2>Labels: </h2>
    <!-- Todo: Spinner -->

    <!-- Todo: Label Selector -->
   </div>

</section>
